@media screen and ( max-width: 1600px)
  .col-40
    padding-bottom: 4rem

@media screen and ( max-width: 1480px)
  .title
    &__name
      padding-top: 1.171rem
      font-size: 1.15rem
    &__experience
      font-size: 0.75rem
    &__job
      font-size: 1.05rem
  .break
    display: none
    
@media screen and ( max-width: 1305px)
  .title
    &__name
      font-size: 1.1rem
    &__experience
      font-size: 0.7rem      
    &__job
      font-size: 1.0rem
      padding-bottom: 1.5rem
  .footer
    &__map
      min-height: 20rem

@media screen and ( max-width: 1270px)
  html
    font-size: 12px
  .nav
    &__item
      margin-right: 1rem
  .steps
    &__col
      &-left
        width: 40%
      &-right
        width: 60%
  .swiper
    &-slide
      &__text
        &:nth-of-type(2n-1)
          margin-right: 2rem
      &__heading
        font-size: 1.1rem
  .footer
    .anti-hero
      padding-bottom: 6rem

@media screen and ( max-width: 1130px)
  .title
    &__name
      padding-top: 1.05rem
    &__experience
      font-size: 0.7rem      
    &__job
      font-size: 1.0rem
      padding-bottom: 1.4rem

@media screen and ( max-width: 1080px)
  .team
    &__section-title-heading
      font-size: 1.8rem
      margin-bottom: 1rem
    &__description
      max-width: 27rem
      font-size: 1.228rem
      margin-bottom: 6.6rem
    &__profile-wrap
      position: static
      left: 0
      width: 100%
      margin-left: 0
    &__profile
      position: relative
      margin-left: 3rem
      margin-bottom: 12.3rem
      max-width: 25rem
    &__postscriptum
      display: none
  .card-wrap
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
  .title
    &__name
      font-size: 1.528rem
      line-height: 1.929rem
      padding-top: 1.65rem
    &__experience
      margin-bottom: -0.9rem
      font-size: 1.1rem
      line-height: 1.857rem
    &__job
      font-size: 1.529rem
      line-height: 1.429rem
      padding-top: 0.5rem
      padding-bottom: 2.3rem
  .profile
    &__logo-wrap
      width: 6rem
      height: 6rem
      top: -3rem
      left: -3rem
    &__title
      width: calc(100% - 5.8rem)
      margin: 0 2.9rem
      bottom: -3.7rem
  .clients
    display: none
  .footer
    background-color: $dark
    &>.container
      width: 90%
    &-wrap
      padding: 0
      top: 4.5rem
      background-color: $dark
    &__title
      font-size: 1.688rem
      margin-bottom: 4.5rem
    &__input-group
      flex-basis: 100%
      margin-bottom: 5.2rem
    &__label
      font-size: 1.2rem
    &__input
      font-size: 1.5rem
    &__policy
      margin-top: -3.3rem
      margin-bottom: 5.6rem
    &__button
      width: 100%
      padding: 1.4rem 4.8rem
      font-size: 1.3rem
    &__menu
      display: none
    &__map
      display: none
    &__mobile-map
      display: block
      order: 1
      max-width: 30rem
      margin: auto
      margin-top: 4rem
    &__api-map
      order: 1
      max-width: 30rem
      margin: auto
      margin-top: 4rem
    &__address
      font-size: 1.5rem
      margin: auto
      margin-bottom: 2.1rem
      max-width: 27rem
    &__logo-container
      margin-left: 3.15rem
      margin-bottom: 3.2rem
    &__logo-wrap
      width: 3.2rem
      height: 3.2rem
      margin-right: 1.9rem
    .anti-hero
      margin-top: -20rem
      background-image: none
      display: flex
      flex-direction: column
      margin-bottom: 0
      &-container
        order: 2
        margin-top: 3.4rem

@media screen and ( max-width: 992px)
  .nav
    display: none
  .hero
    &__instagram
      display: none
    &__content
      margin-left: 0
    &__scroll-down
      &:hover
        cursor: default
  .button, .phone, .logo
    &:hover
      cursor: default
  .steps
    display: none
  .project
    padding-bottom: 50rem
  .team
    padding-top: 2rem

@media screen and ( max-width: 760px)
  .row
    flex-direction: column
    align-items: center
  .col
    &-40, &-60
      width: 100%
    &--padding
      padding-left: 2rem
      padding-right: 2rem
  .types, .project
    &__card
      margin-bottom: 5rem
  .card
    &__text
      margin-left: 0
  .dots
    display: inline !important
  .extra-items
    display: none 
  .project
    padding-bottom: 154rem
  .footer
    .anti-hero-container
      margin-top: -8.5rem
  .video
    &__play
      width: 7.5rem
      height: 7.5rem

@media screen and ( max-width: 570px)
  .contacts
    &__phone
      margin-right: 0
      color: $light
      text-decoration: none
    &__button
      display: none
  .title
    font-size: 1.94rem
    line-height: 24pt
    max-width: 22.86rem
  .hero
    height: auto
    margin-top: 5.2rem
    justify-content: start
    &__container
      margin: 0
      margin-left: 20px
      padding-bottom: 2rem
      width: 90%
    &__scroll-down
      display: none
    &__content
      min-width: 22.86rem
      max-width: 100%
    &__text
      font-size: 1.6rem
      line-height: 18pt
      min-width: 22.93rem
      margin-right: 0
      margin-bottom: 2.8rem
    &__button
      display: block
      min-width: 22.86rem
      width: 100%
      margin-bottom: 2.5rem
  .project
    background-color: $dark
    padding-top: 2rem
    padding-bottom: 129rem
    margin-bottom: 0
    &__description
      color: $light !important
      font-size: 1.2rem !important
      max-width: 50rem !important
      line-height: 1.8rem !important
      letter-spacing: 0.03rem
    &__section-title>.section-title__heading
        font-size: 1.8rem
        color: $light
  .types
    &__section-title
      font-size: 1.2rem
      margin-bottom: 3.4rem
      margin-top: 6.3rem
  .card
    &__text
      max-width: 22.8rem
      margin-top: -13.1rem
      padding-top: 1.5rem
      padding-bottom: 1.6rem
      padding-left: 2.9rem
      padding-right: 0
    &__list
      padding-left: 0.1rem
      margin-left: 1.2rem
    &__title
      margin-bottom: 0.77rem
    &__item
      margin-top: 0.06rem
    &__price-tag
      bottom: -1.1rem
      padding: 0.9rem 2.5rem
      left: 0.5rem
  .price-tag
    &--long
      padding-left: 4rem
      padding-right: 4rem
      padding-bottom: 0.9rem
      bottom: -1.12rem
      left: -0.2rem
  .project
    &__container
      width: 95%
    &__description
      width: 79.5%
    &__row
      width: 83%
      margin: 0
      //padding-left: 2%
    &__card
      margin-bottom: 6.2rem
    &-card__text
      margin-top: -12.6rem
      padding-left: 2.4rem
    &__col
      margin-bottom: 0 !important
  .col
    &-30
      margin-bottom: 1.3rem
    &-40, &-60
      width: 100%
    &-40
      padding-bottom: 0
    &--padding
      padding-left: 0
      padding-right: 0
  .projects>.container
    width: 90%
  .section-title
    &__word
      &::after
        display: none
    &__heading--big
      margin-top: -4.1rem
      font-size: 1.7rem   
      line-height: 2.6rem
    &__text
      width: 90%
      font-size: 1.2rem
      line-height: 1.85rem
      letter-spacing: 0px
      margin-top: 2rem
  .swiper
    &-button
      &-prev
        margin-left: -0.7rem
      &-next
        margin-left: 0.4rem
    &-wrapper
      margin-bottom: 3.45rem
    &-slide
      &__active
        margin-right: 6rem
      &__text
        flex-basis: 49%
        line-height: 1.7rem
        font-size: 1.1rem
        &:nth-of-type(2n-1)
          margin-right: 0
      &__heading
        font-size: 1.2rem
        font-weight: bold
        margin-top: 0.85rem
        margin-bottom: 0.8rem
    &-image
      max-width: 100%
      //height: 17rem
      //object-fit: contain
  .col
    &-60
      margin-top: 1.1rem
    // &>.swiper-container
    //   margin-bottom: 5rem
  .steps
    display: none
  .control
    background-color: $dark
    color: $light
    &>.container
      width: 93%
    &__section-title
      &__heading
        font-size: 1.8rem  
      &-image
        margin-bottom: 3.4rem
    &__video
      min-height: 17.2rem  
      margin-bottom: 2.4rem
    &__text
      font-size: 1.15rem
      line-height: 2rem
      margin-bottom: 2.1rem
      &::before
        margin-bottom: 1.3rem
    &__input-group
      flex-basis: 100%
      order: 2
      &:first-of-type
        margin-bottom: 4.9rem
        order: 1
    &__button
      position: absolute
      padding: 1.486rem 11.3rem
      margin-left: 0.4rem
      bottom: -1.5rem
      order: 4
    &__policy
      order: 3
      margin-top: 1rem
      margin-bottom: 2.4rem
      &-label
        justify-content: flex-start
        font-size: 1.35rem
        margin-bottom: 5.5rem
    &__label
      margin-bottom: 2px
      font-size: 1.2rem
    &__input
      font-size: 1.5rem
      margin-top: -0.2rem
    &__form
      position: relative
    .video
      &__play
        width: 5rem
        height: 5rem

@media screen and ( max-width: 470px)
  .swiper
    &-slide
      &__text
        &:nth-of-type(2n)
          padding-left: 2rem

@media screen and ( max-width: 435px)
  .swiper
    &-slide
      &__text
        &:nth-of-type(2n)
          padding-left: 0rem

@media screen and ( max-height: 540px )
  .hero
    &__scroll-down
      display: none
    