.fantasy
  &__desktop-container
    display: flex
    width: 100%
    background: url("../img/fantasy/fantasy-bg.jpg") no-repeat center
    //background-position-y: 47%;
  &__title
      font-size: 27px
      line-height: 37px
      text-transform: uppercase
      font-family: 'Yeseva One', sans-serif
      color: $primary
      width: 49%