.footer
  &-wrap
    background-color: $black
    position: relative
    max-width: 63.07rem
    margin: auto
    top: -16rem
    padding: 2.5rem
    display: flex
    flex-direction: column    
    align-items: center
  &__title
    text-transform: uppercase
    font-family: "Yeseva One", cursive
    font-weight: normal
    font-size: 1.428rem
    text-align: center
    margin-top: 0
    margin-bottom: 3.214rem
  &__form
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    max-width: 37rem
  &__input-group
    display: flex
    flex-direction: column    
    flex-basis: 44%
    margin-bottom: 3.3rem
    &--full-width
      flex-basis: 100%
  &__policy
    flex-basis: 100%
    margin-bottom: 3.8rem
    &-label
      margin-top: 0
      font-size: 1.142rem
  &__button
    margin: auto
    padding: 1.3rem 4.8rem
    outline: none
  &__input
    padding-top: 0.2rem