.project
  padding-top: 2.5rem
  padding-bottom: 16.4rem
  margin-bottom: 3.75rem
  position: relative
  &__section-title
    margin-top: 8.2rem
    &__heading
      font-size: 1.43rem
      margin-bottom: 0.9rem
  &__description
    max-width: 52.93rem
    margin: auto
    margin-top: -0.7rem
    margin-bottom: 3.3rem
    font-family: 'Futura Book', sans-serif
    font-size: 1.428rem
    line-height: 1.93rem
    text-align: center
    color: #363636
  &__card
    &-title
      margin-top: 0.1rem
      margin-bottom: 0.63rem
      margin-left: -0.2rem
    &-list
      margin-left: 0.4rem
      margin-top: -0.1rem
      padding: 0 0 0 0.8rem
      line-height: 1.9rem
  &-card
    &__text
      margin-left: 2.4rem
      margin-top: -9.2rem
      padding: 1.39rem 2.34rem
  &__row
    position: absolute
    width: 74.5%
    max-width: 1256px
    left: 50%
    transform: translateX(-50%)
.dots
  display: none
.hidden
  display: none