.steps
  padding-top: 30rem
  padding-bottom: 5rem
  &>.container
    width: 86.2%
  &__col
    &-left
      width: 37.5%
    &-right
      width: 64%
      padding-top: 7.5rem
  &__subtitle
    margin-bottom: -0.4rem
  &__section-title
    margin-bottom: 6.1rem
.section-title
  &__subtitle
    font-family: 'FuturaDemiC'
    font-size: 1.02rem
    text-transform: uppercase
  &__heading
    &--very-big
      font-size: 1.95rem
.swiper
  &-steps
    &-slide
      &__counter
        margin: 0
        font-size: 1.3rem
        font-family: 'Yeseva One', cursive
      &__heading
        margin-top: 1.4rem
        margin-bottom: 0.6rem
        &--very-small
          font-size: 1.04rem
          line-height: 1.64rem
          font-family: 'Yeseva One', cursive
          color: $primary
          text-transform: uppercase
          letter-spacing: 0.2px
      &__value
        margin: 0
        font-size: 1rem
        line-height: 1.9rem
        letter-spacing: 0.45px
        width: 25rem
        &--first
          margin-bottom: 0.5rem
  &-steps-right
    display: flex
    flex-direction: column
    &-pagination
      top: 2px
      width: 100%
      left: 0
    &-wrapper
      top: 12rem
  &-image
    &-right
      display: block
      margin-left: auto
      margin-right: auto
  &-custom-bullet
    background-color: transparent
    width: 25%
    color: $light 
    text-align: left