.team
  margin-top: -8.4rem
  position: relative
  padding-bottom: 15rem
  &__section-title
    margin-top: 4rem
    &-heading
      font-size: 1.4rem
    &-image
      margin-bottom: 1.3rem
  &__description
    margin: auto
    margin-bottom: 5.886rem
    font-family: "Futura Book", sans-serif
    font-size: 1.428rem
    line-height: 1.929rem
    max-width: 32rem
    text-align: center
  &__profile-wrap
    position: absolute
    max-width: 89.274rem
    width: 100%
    left: 50%
    margin-left: -20%
  &__profile
    flex-basis: 25%
    max-width: 19.429rem
    position: relative
  &__postscriptum
    margin: auto
    margin-top: 7.4rem
    color: $dark
    max-width: 40.571rem
    font-family: "Futura Book", cursive
    font-size: 1.429rem
    line-height: 2.429rem
    text-align: center
    &::before
      content: ''
      width: 55px
      height: 1px
      background-color: $primary
      margin: auto
      display: block
      margin-bottom: 0.8rem
.profile
  &__logo-wrap
    background-color: $primary
    position: absolute
    width: 5rem
    height: 5rem
    top: -2.5rem
    left: -2.5rem
    display: flex
    justify-content: center
    align-items: center
  &__title
    position: absolute
    bottom: -4.6rem
    width: calc(100% - 2.8rem)
    margin: 0 1.4rem
.title
  &-wrap--light
    background-color: $light
    color: $dark
    margin: 0
  &-wrap--primary
    background-color: $primary
    color: $light
    margin: 0
  &__name
    font-family: "Yeseva One", cursive
    font-size: 1.328rem
    line-height: 1.929rem
    text-align: center
    margin: 0
    padding-top: 1.571rem
    margin-top: 1rem
    margin-bottom: 0.243rem
  &__job
    font-family: "Futura Book", sans-serif
    font-size: 1.286rem
    line-height: 1.857rem
    text-align: center
    margin: 0
    padding-bottom: 1.714rem
    margin-bottom: -0.5rem
  &__experience
    margin: 0
    margin-bottom: 1rem
    padding: 0.929rem 1.643rem
    font-family: "Yeseva One", cursive
    font-size: 0.929rem
    line-height: 1.429rem
    text-align: center
    text-transform: uppercase
.card-wrap
  display: flex
  justify-content: space-around